body
{
    max-height: 40em;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0.4em;
    margin: 0;
}
.languageSelectorContainer
{
    padding-bottom: 0.4em;
}
A:link
{
    text-decoration: none;
    color: #426DC9
}

A:visited
{
    color: #426DC9;
}
