
.statusContainer
{
    float: left;
    color: Gray;
}

#languageButtons 
{
    list-style-type: none;
}

#languageButtons li label {
    padding-left: 1em;
    width: 150px;
    display: inline-block;
}


